html{
    scroll-behavior: smooth;
}

body{
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

h1, footer, nav{
    color: #5e3823;
}

#main-container, #pages-container, #logo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner{
    display: flex;
    width: 100%;
    height: 600px;
    background-image: url('./assets/coffee-banner.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

nav{
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0%;
    background-color: white;
    font-size: 1.5em;
    width: 100%;
}

nav > div {
    margin: 10px 10px 0px 10px;
}

nav > div:hover{
    cursor: pointer;
}

.page{
    min-height: 100vh;
    width: 75%;
    margin: 10px;
    padding: 10px;
}

.page > p {
    text-align: justify;
}

#about-us{
}

#logo-container > img{
    height: 150px;
}

#meet-our-team{
}

#contact-us{
}

footer{
    display: flex;
    justify-content: center;
    margin: 10px;
}